.form {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 40px;
}

.form input {
  padding: 12px 20px;
  width: 280px;
  border-radius: 12px;
  border: 1px solid white;
  background-color: #c8b4d9;
  color: white;
  font-size: 16px;
  outline: none;
}

.form input::placeholder {
  color: white;
}

.button {
  padding: 12px 22px;
  border-radius: 12px;
  border: 1px solid white;
  background-color: #8f8edc;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
