.item {
  width: 340px;
  padding: 14px 18px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #a6a4c9;
  border: 2px solid black;
  border-radius: 12px;
}

.left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.item span {
  font-size: 18px;
  color: white;
  text-transform: capitalize;
}

.completed {
  text-decoration: line-through;
  opacity: 0.8;
}

.button {
  padding: 6px 14px;
  border: 2px solid black;
  background-color: #f1efe6;
  cursor: pointer;
  border-radius: 12px;
}
